{% extends 'base.html'%}
{% block head %}
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>UberMelon’s Most Loved Melons</title>
{% endblock %}

{% block body %}
	<h2>The Most Loved Melons</h2>
	<h1>Welcome, {{session['username']}}<h1>
		{% for melon in melon_dic %}
			<!-- Create a div for every Most Loved Melon using a Jinja for loop -->
		    <div class='melon-div'>
		        <h3>{{melon_dic[melon]['name']}}</h3>
		        <h2>Loved {{melon_dic[melon]['num_loves']}} times.</h2>
		        <img src={{melon_dic[melon]['img']}}>
		    </div>
	    {% endfor %}

	    <form action="/love-melon" method="POST">
	    	<br></br>
	    	<label for="melon_love">Choose your most loved melon</label>
            <select name="users_choice">
            	{% for melon in melon_dic %}
            	<option value={{melon}}>{{melon_dic[melon]['name']}}</option>
            	{% endfor %}
            </select> 
            <br></br>
            <input type="submit" class="btn btn-lg btn-primary"/>
        </form>
{% endblock %}